/* Nome do sistema */
.header{
    /*background-image: linear-gradient(to bottom, #0d6efd, #f3f3f3);*/
    background-color: #0d6efd;
    float: left;
    min-width: 500px;
    width: 100%;
    padding: 0px 10px;
    overflow: hidden;
}
.header h1{
    float: left;
    text-shadow: #928d8d 2px 3px 5px;
    text-align: center;
    margin: 0;
    padding: 20px;
    padding-left: 100px;
    color: white;
    font-family: arial;
    font-size: 2em;
}
.header-direita{
    padding: 12px;
    float: right;
}
.header-direita a{
    text-decoration: none;
}
.btn-header{
    float: left;
    font-family: arial;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
    text-decoration: none;
    line-height: 25px;
    color: white;
    background-color: #237bff;
    border-radius: 4px;
    margin-right: 5px;
}
.header-direita a:hover{
    border-radius: 4px;
    background-color: #64a2ff;
    color:white;
}
.header-direita-conteudo{
    float: right;
    display: flex;
    flex-wrap: wrap;
}
#name-user{
    width: 100%;
    margin-top: 11px;
    text-align: center;
    padding: 0;
    background-color: #0d6efd;
    font-size: 0.8em;
    color: white;
}
#abrirTelaCadOs{
    color: white;
    cursor: pointer;
}
.btn-header-selecionado{
    float: left;
    font-family: arial;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
    text-decoration: none;
    line-height: 25px;
    color: white;
    background-color: #0e4aa3;
    border-radius: 4px;
    margin-right: 5px;
    
}
.prefeitura-nome{
    width: 100%;
    padding: 0;
    border-bottom: 0.5px solid rgba(121, 121, 121, 0.344)
}
.prefeitura-nome p{
    font-size: 1em;
    margin-bottom: 0;    
    margin-left: 15px;
}
.dados-usuario{
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px;
}
#deslogar{
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 5px;
    margin: 0;
    padding: 3px;
    background-color: rgb(247, 247, 247);
}
#deslogar:hover{
    padding: 3px 8px 3px 8px;
}
@media screen and (max-width:750px){
    .header h1{
        width: 100%;
        margin: 0;
        padding: 10px;
        font-size: 1.3em;
    }
    .header-direita{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}